### Day 05  Continuation Python 
#### Date: 31 May 2019
#### Day Outcomes
* Tules
* Dictionaries
* Linear and Binary Search
* Date Arithmetic
* Iterators and Generators
* Functional Programming

#### Python Tuples

In [3]:
# Immutable(Values cannot changed)
#Tuples are represented using paranthesis ()
# eg: create tuple for  student
t1 = (1001, 'name',85,35,93) # changes shold not be made 
t1

(1001, 'name', 85, 35, 93)

In [6]:
t1.append(30) # So it is not possible to append or change the sequence
t1.sort()

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
t1[2]

85

In [10]:
t1[2:] # it creates another Tuple as slicing operation is done

(85, 35, 93)

In [26]:
t2 = (123,234,345,987,121,323,349)
print(str(t2[0])[1] , str(t2[1])[1] , str(t2[2])[1])
for i in range(len(t2)):
    print(str(t2[i])[1], end ='  ')

2 3 4
2  3  4  8  2  2  4

In [49]:
# Aversge of all elements in a tuple
def averageLinearDS(t):
    sum=0
    #for i in range(len(t)):
     #   sum += t[i]
    # list and tuples are directly accesed elements as iterable objects
    for item in t:
        sum+=item
    return sum / len(t)

li= [123,124,122,143]



averageLinearDS(li)

128.0

In [48]:
#Function to search in a Linear DS
def linearSearch(t,key):
    for i in range(len(t)):
        if key == t[i]:
            return i
            #print("Element found at :" , i)
            
    return -1

ds = [23,25,123,43,432,122]   
linearSearch(li,122)

2

### Iterable objects

In [54]:
s= "Python"
for c in s:
    print(c , end=" ")

P y t h o n

In [57]:
# function to identify the maximum element in a DS using Iterable objects
def maxElementDS(ds):
    maxi = 0
    for item in ds:
        if item > maxi:
            maxi=item
    return maxi
maxElementDS(t2)

987

### Python Dictionaries

In [64]:
# dictionaries defines using Curly braces {}
d1= {"name1": 123432112, 'name2':4343432323}
d1['name2']


d1.keys()   # all keys in dictionary are Unique.
d1.values()

dict_values([123432112, 4343432323])

In [67]:
d1['name3'] =3232321232
d1

{'name1': 123432112, 'name2': 4343432323, 'name3': 3232321232}

In [72]:
d1['name1'] = 7676767676
d1

{'name2': 4343432323, 'name3': 3232321232, 'name1': 7676767676}

In [73]:
d1.pop('name3')
d1

{'name2': 4343432323, 'name1': 7676767676}

In [78]:
# Contacts Application: Display, Add, Modify and Delete contacys

contacts = { }
def addContacts(contacts, name,phone):
    contacts[name]=phone
    return
def displayContacts(contacts):
    for name, phone in contacts.items():
        print( "name: " , name , ":" , "phone number:", phone)
    return

# adding contacts into dictionary
addContacts(contacts, 'name1',3242525354)
addContacts(contacts, 'name2',3242525354)

#display conct numbers from dictionary
displayContacts(contacts)

def modifyContacts(contacts,name, newnumber):
    contacts[name]=newnumber
    return

def deleteContacts(contacts, name):
    contacts.pop(name)
    return


modifyContacts(contacts,'name1',5554443331)
contacts

name:  name1 : phone number: 3242525354
name:  name2 : phone number: 3242525354

{'name1': 5554443331, 'name2': 3242525354}

### Python Regular Expressions

#### Everthing in pattern represent as LIsst.
##### [0-9] Regular Expression for all single digits. i.e [0,1,2,3...9] it matches single character only.
##### [a-z] RE (list) of all lower case alphabets.
##### [A-Z] RE for all upper case letters.
##### [01] represents 0 and 1 --> [0-1] also same as [10]
##### LInk to check the regural Expression Patterns https://www.regexpal.com/

# Function to validate Student Roll NUmber

def vaidateStu(pat):
   / ^[9876][0-9]{9}$ /

# Function to validate indian Phone numbers starts with 9,8,7,6 and have 10 digits
        / ^[6789][0-9]{9}$
#function to validate email address
    #username@domain.extension
    username ={ string of length 9 can contain digits,_,alphabet}
       
    extension = { length of 3. only alphabet}
                /^[a-zA-Z][a-z0-9A-Z_.]{5,14}[@][a-z0-9]{3,12}[.][a-z]{2,3}[.]?[a-z]?[a-z]?$/

In [5]:
# phone Number Validator
import re
def phoneNUmberValidator(phone):
    phone=str(phone)
    pattern='^[6-9][0-9]{9}$'
    if(re.match(pattern,phone)):
        return True
    return False
phoneNUmberValidator(6441327832)

True

In [10]:
# Split Function in regular Expressions
s1='In this chapter, we are going to write more functions that return values, which we will call fruitful functions, for want of a better name. The first example is area, which returns the area of a circle with the given radius:'
syllabusList=re.split('[,][\ ]',s1)
syllabusList

['In this chapter',
 'we are going to write more functions that return values',
 'which we will call fruitful functions',
 'for want of a better name. The first example is area',
 'which returns the area of a circle with the given radius:']

### Python Date time Arithmetc

In [22]:
import datetime
type(datetime.datetime.now())
now= datetime.datetime.now()
print(now.hour, now.minute, now.second)
print(now)
print(now.day, now.month, now.year)
datetime.date.today()

17 11 9
2019-05-31 17:11:09.658189
31 5 2019

datetime.date(2019, 5, 31)

In [28]:
# Function to find the difference between two given dates
#YYYY:MM:DD is the date format
import datetime
def dateDifference(date1, date2):
    year1  = int(date1[:4])
    month1 = int(date1[5:7])
    day1   = int(date1[8:])

    year2 = int(date2[:4])
    month2 = int(date2[5:7])
    day2 = int(date2[8:])

    dateObj1 = datetime.date(year1,month1,day1)
    dateObj2 = datetime.date(year2,month2,day2)
    return dateObj2 -dateObj1

    #print(year1,month1,day1)
print(dateDifference('2019:05:27','2019:06:01'))

5 days, 0:00:00

In [32]:
import calendar
def isLeap(year):
    if (year%4 == 0 and year%100 != 0) or year % 400 == 0:
            return True
    return False
isLeap(2020)

True

In [33]:
#for Iterators and Generators follow the link  https://www.programiz.com/python-programming/generator

### List Comprehensions

In [39]:
li =[1,2,3,4,5,6]
sum(li)
# sum of n natural numbers
sum(range(213))
sum(list(range(9+1)))

45

In [44]:
# calculate sum of squareroot of n natural numbers
from math import sqrt
def sqrtNNaturalNumbers(n):
    return sum([ sqrt(i) for i in list(range(1,n+1))])
sqrtNNaturalNumbers(10)

22.4682781862041

In [48]:
def squareListElements(li):
    return [i**2 for i in li]

squareListElements(li)

# define a function using list comprehension to identify all numbers divisible by 9 in List
# input: li=list(range(1,50))
#output: [9,18,27,36,45]

li=list(range(1,50))

def divisibleBy9(li):
    return [i  for i in li if i % 9==0]

divisibleBy9(li)

[9, 18, 27, 36, 45]

In [49]:
li= list(range(1979,2019))

def leapYear(li):
    return [ i for i in li if (i % 4 ==0 and i % 100 != 0) or i % 400 ==0]
leapYear(li)

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

### Maps (part of Functional Programming)
 . Map is concept where functions and iterators are passed as parameters to Map data structure

In [67]:
# Function to calculate cubes of all numbers in a list

li=[1,2,3,4,5,6]
def cube(n):
    return n**3
# cube function can passed as parameter to Map

print(list(map(cube,li))) # cube can be accessed as variable not as funtion, so no parametes for cube
print(len(list(map(cube,li))))

print(len(list(map(cube,li))))

sum([cube(i) for i in li])

[1, 8, 27, 64, 125, 216]
6
6

441